<launch>
  <node name="navigation_node" pkg="robot_slam" type="nav_demo_B.py" output="screen">
      <!-- Waypoints (grid cell indices): 1 -> 5 -> 45 -> 77 -> 37 -->
      <param name="goalListX" value="0.2, 1.8, 2.6, 1.8, 0.2"/>
      <param name="goalListY" value="3.4, 3.4, 1.8, 0.2, 1.8"/>
      <param name="goalListYaw" value="0, 0, 0, 0, 0"/>
  </node>
</launch>